<!--About Me Page Content-->
<body  background="Assets/images/background.jpg">
    <main class="container" style="height: 530px;">
        
        <div class="jumbotron" style="height: 530px;">
            <h1 class="display-6">About Me</h1>
            <p>
                <table>
                <tr>
                    <td style="width: 35%; height: 35%;"><img src="Assets/images/myPhoto.jpg" width="100%"></td>
                    <td><p style="padding-left: 20px; font-size: 18px; font-family: cursive;">
                        I am Muskan Sood currently in my Home Country, India and enrolled in Software Engineering Technology FastTrack Program. 
                        I am a B.Tech. graduate in Computer Science and working as a full time employee with IBM.
                        I hold 6 years of experience as a Quality Assurance Engineer. <br><br>
                        Over this time phase, I have developed keen interest in software technology and decided to proceed with an advanced education program from Centennial college. 
                        I was lucky enough to receive an Offer letter for the same.<br><br>
                        <b>Hobbies:</b> I love gardening. I find myself connected to nature. Along with that, I like reading books, dancing and traveling.</p>
                    </td>
                </tr>
                <tr><td></td><td><a href="Assets/documents/MuskanSood_Resume.pdf" style="padding-left: 20px; color:blue;" Download><u>Download Resume</u></a></td></tr>
                <tr><td><a href="Assets/documents/MuskanSood_Resume.pdf" title="" Download></a></td></tr>
                </table>
            </p>
        </div>
    </main>
</body>