<script type = "text/javascript">
  function Redirect() {
     window.location.href = "/offers";
  }
</script> 
<!--Home Page Content-->
<body>
    <main class="container-fluid" style="height: 530px;">
      <div class="jumbotron" style="background-color:white;">
        <img src="Assets/images/offer2.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 100%;" onclick="Redirect()"/>
        <hr class="my-4"><h1 style="font-family: cursive; text-align: center; ">Top Categories to Cart</h1>
        <table align="center" style="background-color:darksalmon;">
          <tr>
              <td style="width: 200px;"><a href="\men"><img src="Assets/images/shopmen.jpg" width="100%"></a></td>
              <td style="width: 200px;"><a href="\women"> <img src="Assets/images/shopwomen.jpg" width="100%"></a></td>
              <td style="width: 200px;"><a href="\kids"><img src="Assets/images/shopkids.jpg" width="100%"></a></td>
              <td style="width: 200px;"><a href="\offers"><img src="Assets/images/shopoffers.jpg" width="100%"></a></td>
          </tr>
          <tr> 
              <td style="width: 200px;"><center><a class="btn btn-lg" href="\men">MEN</a></center></td>
              <td style="width: 200px;"><center><a class="btn btn-lg" href="\women">WOMEN</a></center></td>
              <td style="width: 200px;"><center><a class="btn btn-lg" href="\kids">KIDS</a></center></td>
              <td style="width: 200px;"><center><a class="btn btn-lg" href="\offers">OFFERS</a></center></td>
          </tr>
      </div>
    </main>
  </body>