<!--About Me Page Content-->
<body  background="Assets/images/background.jpg">
    <main class="container" style="height: 530px;">
        <div class="jumbotron" style="height: 550px;">
            <h1 class="display-6">Services</h1>
            <p>
                <table cellpadding="20" align="center"> 
                <tr>
                    <td><img src="Assets/images/service_java.jpg" width="150px" height="150px">
                        <h5 style="padding-top: 10px; text-align: center;"><b>Web<br>Development</b></h5>
                    </td>
                    <td><img src="Assets/images/service_android.jpg" width="150px" height="150px">
                        <h5 style="text-align: center; padding-top: 10px;"><b>Mobile<br>Development</b></h5>
                    </td>
                    <td><img src="Assets/images/service_sql.jpg" width="150px" height="150px">
                        <h5 style="text-align: center; padding-top: 10px;"><b>Data<br>Assistance</b></h5>
                    </td>
                    <td><img src="Assets/images/service_WebDesign.jpg" width="150px" height="150px">
                        <h5 style="text-align: center; padding-top: 10px;"><b>Web<br>Designing</b></h5>
                    </td>
                    <td><img src="Assets/images/service_qa.jpg" width="150px" height="150px">
                        <h5 style="text-align: center; padding-top: 10px;"><b>Quality<br>Assurance</b></h5>
                    </td>
                </tr>
                </table>
            </p>
        </div>
    </main>
</body>